@import "../mixins/reutilizables";
@import"../base/base";
.navbar-brand {
    @include navegacion
}

.galeria{
    @include galery-responsive(45%,1fr)
}

.container-fluid {
    .inicio {
        font-size: 1.60rem !important;
        margin: 50px;
        padding: 30px;
        text-align: center;
        border-radius: 30px;
        font-weight: bold;
        background-color: rgba(83, 83, 83, 0.103);
        hyphens: auto;
    }
}

@media (max-width: 425px){
    .container-fluid{
        .inicio{
            font-size: 1rem !important;
        }
    }


}


footer{
    margin-top: 50px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.226);
}