.propuesta{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 1.30rem;
    padding: 4rem;
    border-radius: 20px;
    background-color: rgba(136, 147, 241, 0.548);
    
    img{
        width: 50%;
    }
}